#ActionButton
{
    color: rgb(255, 255, 255);
    background-color: #008B8B;
    border:none;
    padding: 3px;
    font-family: "Verdana";
    font-size: 15px;
    text-align: center;
}
#ActionButton:!enabled
{
	color: rgb(255, 255, 255);
    background-color: #A9A9A9;
}
#ActionButton:hover, #ActionButton:pressed , #ActionButton:checked
{
    background-color: #1E90FF;
}